@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "kanit", sans-serif;;
}

nav{
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbe6c4;
    padding: 0px 30px;
    transition: all 0.4s;
    z-index: 5;
}

nav img{
    display: block;
    width: 100px;
    height: 100%;
}


nav .first{
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav .second{
    margin: 0;
    list-style-type: none;
    display: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}

li a{
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #444;
}

a.active{
    color: green;
}


.btn{
    width: 40px;
    height: 40px;
    background-color: #cbe6c4;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon,
.icon::after,
.icon::before{
    background-color: rgb(34, 129, 34);
    height: 5px;
    width: 30px;
    border-radius: 8px;
    position: absolute;
    transition: all 1s;
}

.icon::after,
.icon::before{
    content: "";
}

.icon::after{
    transform: translate(-15px, 10px);
}

.icon::before{
    transform: translate(-15px, -10px);
}

.rot .icon{
    background-color: transparent;
    transform: rotate(720deg);
}

.rot .icon::after{
    transform: translateX(-15px) rotate(45deg);
}

.rot .icon::before{
    transform: translateX(-15px) rotate(-45deg);
}

.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    top: 50px;
}

.vidfirst, .vidsecond{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.vidsecond{
    display: none
}

.about{
    position: relative;
    top: 50px;
    padding: 40px;
}

.main h2{
    text-align: center;
}

.fig{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 200px;
    height: 200px;
}

.fig p{
    font-size: 24px;
    text-align: center;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.fig img{
    height: 64px;
    width: 64px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.update-section{
    width: 100%;
    height: fit-content;
    background-color: rgb(122, 196, 122);
    color: black;
    margin: 0;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
}

.update-section h3{
    text-align: center;
    padding: 10px;
}

.update-section p{
    cursor: pointer;
}

.scroll-container{
    height: 600px;
    overflow-y: hidden; 
}

.scroll{
    animation: scrolly 90s infinite linear;
}

@keyframes scrolly {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.last{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #265019;
    border: 2px solid rgb(122, 196, 122);
    border-radius: 20px;
    margin-top: 5px;
}


.last p{
    margin-bottom: 0;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.last p::after{
    content: "east";
    font-family: "Material Icons";
    font-size: 20px;
    color: #265019;
    position: absolute;
    white-space: nowrap;
    transform: translateX(10%);
    transition: all 0.5s ease;
}

.last p:hover::after{
    transform: translateX(50%);
    opacity: 1;
}

.other{
    position: relative;
    top: 50px;
    padding: 40px;
    background-color: #d1b073;
    height: fit-content;
}

.other h2{
    text-align: center;
}

.grp-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.button{
    width: 220px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1c2b3d;
    color: white;
    position: relative;
    cursor: pointer;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10%;
}

.button::after{
    content: 'keyboard_double_arrow_right';
    font-family: 'Material Icons';
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.button:hover::after{
    transform: translateX(50%);
    opacity: 1;
}

.grp-name p{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #423b3b;
}

footer{
    position: relative;
    top: 50px;
    padding: 10px;
}

footer p{
    text-align: center;
    margin: 0;
}

.contact-mobile{
    position: relative;
    top: 50px;
    background-color: cornsilk;
    padding: 20px;
    display: none;
}

.contact-mobile h3{
    text-align: center;
    padding-bottom: 10px;
}

.contact-mobile .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact-large{
    position: fixed;
    top: 30%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s linear;
}

.c-icons.show{
    max-height: 200px;
    transform: translateY(0);
    opacity: 1;
}

.c-icons img{
    transition: all 0.2s ease;
}

.c-icons img:hover{
    transform: scale(1.1);
}

.lbtn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

body{
    background-color: #cbe6c4;
}

@media only screen and (max-width: 600px) {
    .btn{
        display: flex;
    }
    nav .first{
        display: none;
    }

    nav .second{
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 90%;
        border-radius: 8px;
        border: 1px solid gray;
        margin: 0 5%;
    }
    nav .flex{
        display: flex;
    }
    .vidfirst{
        display: none;
    }
    .vidsecond{
        display: block;
        
    }
    .contact-mobile{
        display: block;
    }
    .contact-large{
        display: none;
    }
}



